<ion-card>
  
  <ion-card-header (click)="toggleAccordion()" >
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    <ion-card-title>Awesome Title</ion-card-title>

   </ion-card-header>
    <ion-card-content #cc >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur similique unde soluta ratione explicabo dolore id, deleniti odio sequi veniam suscipit sunt tempore maiores illo, eius aut vitae iure eligendi.
      Animi, voluptate cumque. Odit officiis, error eos non enim nam esse ex necessitatibus quos ullam fugiat sint vero est aspernatur ut voluptatum impedit quae rem aut cupiditate nisi minima iste?
      Blanditiis quasi maiores ea, ipsum placeat modi delectus reprehenderit a autem eaque rerum libero, obcaecati, amet repellat sunt iure eius cupiditate. Illum, rerum dolorum axcepturi dolorum vel.
      Iure sapiente deleniti, illo reprehenderit maiores ipsa quis facilis, et consequuntur quibusdam fugiat voluptates? Sunt doloremque aperiam, tempora hic quasi optio nemo officia laudantium sit doloribus voluptates obcaecati fugit iure!
      Sequi ex amet nemo quia acere libero reprehenderit tempora dignissimos aut, vitae voluptate sed architecto velit. Dicta, possimus recusandae esse aperiam illo eos?
      Veniam maiores accusantium, reprehenderit adipisci provident totam inventore saepe dolores repellendus placeat debitis voluptas suscipit, assumenda culpa in quo quis voluptatem mollitia corporis velit obcaecati nam, dolor natus. Provident, nam.
      Consectetur laboriosam amet fugit minima, nostrum a dolorum voluptate cum, fuga suscipit delectus nisi molestiae sint consequuntur asperiores repellendus ut. Tenetur consequuntur ad voluptas explicabo veniam vero, saepe voluptatem odio.
    </ion-card-content>



 


</ion-card>